body {
  background-color: #eed3d3;
  margin: 0;
  padding: 20px;
}

h1 {
  color: white;
  text-align: center;
}

h2,
h3 {
  color: #333;
}

h2,
h3,
p {
  font-size: 18px;
}

header {
  background-color: #dc7878;
  color: beige;
  padding: 20px;
  /* border-radius: 50px; */
  border-top-left-radius: 50px;
  border-bottom-right-radius: 25px;
  text-align: center;
}

ul {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

section {
  background-color: rgb(205, 141, 141);
  padding: 20px;
  margin-top: 20px;
  border-radius: 50px;
  box-shadow: -6px -11px 19px rgba(0, 0, 0, 0.8);
  transition: 0.3s;
}

section:hover {
  transform: scale(1.03);
}

#square {
  background-color: black;
  height: 50px;
  width: 50px;
  display: inline-block;
}

#rectangle {
  background-color: black;
  height: 50px;
  width: 100px;
  display: inline-block;
}

#circle {
  background-color: black;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  display: inline-block;
}

#elipse {
  background-color: black;
  height: 50px;
  width: 25px;
  border-radius: 100%;
  display: inline-block;
}

#semi-circle {
  background-color: black;
  height: 50px;
  width: 25px;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  display: inline-block;
}

#rhombus {
  background-color: black;
  height: 50px;
  width: 50px;
  display: inline-block;
  transform: translate(6px, 0px) rotate(45deg) scale(0.85);
}

nav {
  background-color: #f2baba;
  color: white;
  padding: 15px 40px;
  border-radius: 25px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 5px;
}
nav a {
  color: rgb(20, 18, 18);
  text-decoration: underline;
  font-size: 16px;
}

nav a:hover {
  color: #00adb5;
}
html{
  scroll-behavior: smooth;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 40px;
}

.hero-text {
  max-width: 50%;
}

.hero-text h1 {
  font-size: 24px;
  margin-bottom: 5px;
  text-align: left;
}

.hero-text h2 {
  font-size: 40px;
  margin-bottom: 5px;
  color: #222;
}

.hero-text h3 {
  font-size: 28px;
  color: #293737;
  margin-bottom: 10px;
}

.hero-text p {
  margin-bottom: 20px;
}

.btn {
  background-color: #d4accb;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: #583c57;
}

.hero-image img {
  width: 250px;
  border-radius: 50%;
}